<div class="row subParent">


  <div class="col-lg-12 nopadding Parent">
  <section class="container p-3">
<h1 style="color: #666666;">
  رویدادها 
  <img src="assets/img/svg/PR h.svg" style="position: absolute;left: 21%;width:62px;" alt="">
</h1>
<br>
<br>

<div class="row">

<article class="card col-xs-12 col-lg-12" style="background: #ffffff36;z-index:2;">
  <div class="card-body">
    <div class=" top-product">
        <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
            <div class="item" *ngFor="let image of mySlideImages;let i = index">
             <div>
               <img src={{image}}/>
             </div>
            </div>
           </owl-carousel>
           <hr>
    </div>


    <div class="row products">

      <div *ngFor='let product of products' style="margin-top:10px;" class="card col-xs-12 col-lg-3 col-lg-3 col-lg-3 col-lg-3 col-lg-4">
        
        <img [src]="product.logo_url" style="height:auto;" alt="">

      <h3 style="padding-top:10px;color: #a9a9a9;">{{ product.title }}</h3>
      <h4 style="font-size: 12px;text-align: center;color: #fc6d36;">
        {{ product.slogan }}
      </h4>
      <p>
       {{ product.short_description | slice:0:152 }}
       <a [href]="product.url" target="_blank">
          بیشتر بدانید
       </a>
      </p>

      </div>

    </div>
  </div>
</article>
</div>
  </section>
  </div>
  <div class="col-lg-1 nopadding">

  </div>
  </div>

<div style="  position: absolute;
right: 12%;
top: 31%;
width:100%;

border-bottom: 1px solid lightgray;
  height: 20px;
  z-index: 1;
">
  <i class="fa fa-arrow-left arrow-left" style="    background: #fc6d36;
  color: white;
  width: 40px;
  float: right;
  height: 40px;
  border-radius: 92px;
  padding: 12px;
  font-size: 18px;
"></i>
</div>
