.top-product{
    img{
        border: 1px solid black;
        height: 350px;
    }

    height: 350px;

}
.subParent{
    background: url(https://stmed.net/sites/default/files/transparent-cubes-wallpapers-25325-3575516.jpg) no-repeat fixed;
}
.Parent{
    background: #e7e7e7e0;
}
/deep/.owl-prev,/deep/.owl-next{
    zoom: 8;
}
/deep/.owl-nav{
    position: absolute;
    top:0;
    width:100%;
    .owl-prev {
        float:left;
    }
    .owl-next {
        float:right;
    }
   
    [class*=owl-]:hover {
        background: transparent !important;
        color: #FFF;
        text-decoration: none;
        outline: none;
    }
    *,*:focus{
        outline: none;
    }

}
.products{
    img{
        height: 100px;
    }
    .card {
        padding: 50px;

        h3{
            text-align:center;
            color: black;
        }
        small{
            color:#69b8b5;
            cursor: pointer;
            display:block;
            text-align:center;
        }
        p{
            text-align:center;
        }
    }
}