
<div style="background-color:white;position:fixed;top:0;right:0;bottom:0;width:100px;z-index: 999999999;">
  <img src="assets/img/23.png" style="    width: 83px;
  display: block;
  margin: auto;"lt="">

  <ul style="    display: block;
  margin: auto;
  padding: 17px;
  vertical-align: middle;
  margin-top: 200px;
  list-style: none;">
    <li style="    padding: 5px;">
      <img src="assets/img/madar.png" alt="">
    </li>
    <li>
      <span class="pointer orange-background" id="secoundMenuToggle" (click)="toggleStyle()" style="  
      padding: 10px;
      border-radius: 50%;
      position: absolute;
      left: -19px;
      margin-top: 15px;z-index: 100;">

<svg style="    width: 20px;
height: 20px;
fill: white;
color: white;" aria-hidden="true" fill='#ffff' data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
      </span>
      <div class="secoundMenu orange-background">
          <ul>

  <li>
    <img src="assets/img/3.png" alt="">
    <span class="wc">محصولات</span>
  </li>

  <li>
      <img src="assets/img/4.png" alt="">
      <span class="wc">خدمات</span>
    </li>

    <li>
        <img src="assets/img/5.png" alt="">
        <span class="wc">استارت اپ</span>
      </li>
  

      <li>
          <img src="assets/img/6.png" alt="">
          <span class="wc">رویدادها</span>
        </li>
        <li>
            <img src="assets/img/7.png" alt="">
            <span class="wc">تماس با ما</span>
          </li>
          </ul>
      </div>
    </li>
    <li style="padding: 5px;margin-top:70px;">
      <img src="assets/img/2.png" alt="">
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
