.secoundMenu{
    position: absolute;
      top: 0;
      bottom: 0;
      right: 100px;
      width: 100px;
      display: none;
      ul{
        display: block;
        margin: auto;
        padding: 17px;
        vertical-align: middle;
        margin-top: 200px;
        list-style: none;
        li{
            text-align: center;
            cursor: pointer;
            span{
                font-size: 14px;
            }
        &:hover{
            background-color: #3300ff14;
        }
        }
      }
}