
<ul class="nav-mobile">
    <li [routerLink]="['/']">
      آتیه ارتباط کیش
    </li>        
    <li class="menu-container"> 
      <input id="menu-toggle" type="checkbox">
      <label for="menu-toggle" class="menu-button">  
        <svg class="icon-open" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
        <svg class="icon-close" viewBox="0 0 100 100">
          <path d="M83.288 88.13c-2.114 2.112-5.575 2.112-7.69 0L53.66 66.188c-2.113-2.112-5.572-2.112-7.686 0l-21.72 21.72c-2.114 2.113-5.572 2.113-7.687 0l-4.693-4.692c-2.114-2.114-2.114-5.573 0-7.688l21.72-21.72c2.112-2.115 2.112-5.574 0-7.687L11.87 24.4c-2.114-2.113-2.114-5.57 0-7.686l4.842-4.842c2.113-2.114 5.57-2.114 7.686 0l21.72 21.72c2.114 2.113 5.572 2.113 7.688 0l21.72-21.72c2.115-2.114 5.574-2.114 7.688 0l4.695 4.695c2.112 2.113 2.112 5.57-.002 7.686l-21.72 21.72c-2.112 2.114-2.112 5.573 0 7.686L88.13 75.6c2.112 2.11 2.112 5.572 0 7.687l-4.842 4.84z"/>
        </svg> 
      </label>      
      <ul class="menu-sidebar">
        <li><a [routerLink]="['/']">خانه</a></li>
        <li><a [routerLink]="['/products']">محصولات</a></li>
        <li><a href="#">Item</a></li>

        <li>
          <input type="checkbox" id="sub-one" class="submenu-toggle">        
          <label class="submenu-label" for="sub-one">محصولات</label>
          <div class="arrow right">&#8250;</div>           
          <ul class="menu-sub">
            <li class="menu-sub-title">
              <label class="submenu-label" for="sub-one">بازگشت</label>
              <div class="arrow left" style="opacity: 0;">&#8249;</div>              
            </li>  
               
            <li *ngFor='let item of products'><a [routerLink]="['/product', item.permalink]" routerLinkActive="active" >{{ item.title }}</a></li>
            <li><a [routerLink]="['/products']">مشاهده تمامی محصولات</a></li>                   
          </ul>
        </li>


        <li>
          <input type="checkbox" id="sub-two" class="submenu-toggle">        
          <label class="submenu-label" for="sub-two">Category</label>
          <div class="arrow right">&#8250;</div> 
          <ul class="menu-sub">
            <li class="menu-sub-title">
              <label class="submenu-label" for="sub-two">Back</label>
              <div class="arrow left">&#8249;</div>              
            </li>      
            <li><a href="#">Sub-item</a></li>
            <li><a href="#">Sub-item</a></li>
            <li><a href="#">Sub-item</a></li>     
            <li><a href="#">Sub-item</a></li>                                
          </ul>              
        </li>   
        <li><a [routerLink]="['/contact-us']">تماس با ما</a></li>                                      
      </ul> 
    </li>


  </ul>






<div id="desktop-menu" style="background-color:white;position:fixed;top:0;right:0;bottom:0;width:100px;z-index: 999999999;">
  <img src="assets/img/23.png" style="    width: 83px;
  display: block;
  margin: auto;margin-top:10px;"lt="">

  <ul style="    display: block;
  margin: auto;
  padding: 17px;
  vertical-align: middle;
  margin-top: 200px;
  list-style: none;">
    <li [routerLink]="['/']" routerLinkActive="router-link-active"  style="    padding: 5px;">
      <img src="assets/img/madar.png" alt="">
    </li>
    <li>
      <span class="pointer orange-background" id="secoundMenuToggle" (click)="toggleStyle()" style="  
      padding: 10px;
      border-radius: 50%;
      position: absolute;
      left: -19px;
      margin-top: 15px;z-index: 100;">

<svg style="    width: 20px;
height: 20px;
fill: white;
color: white;" aria-hidden="true" fill='#ffff' data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
      </span>
      <div class="secoundMenu orange-background">
          <ul>

  <li [routerLink]='["/products"]'>
    <img src="assets/img/3.png" alt="">
    <span class="wc">محصولات</span>
  </li>

  <li [routerLink]="['/services']">
      <img src="assets/img/4.png" alt="">
      <span class="wc">خدمات</span>
    </li>

    <li [routerLink]="['/startup']">
        <img src="assets/img/5.png" alt="">
        <span class="wc">استارت اپ</span>
      </li>
  

      <li [routerLink]="['/events']">
          <img src="assets/img/6.png" alt="">
          <span class="wc">رویدادها</span>
        </li>
        <li [routerLink]="['/contact-us']" routerLinkActive="router-link-active" >
            <img src="assets/img/7.png" alt="">
            <span class="wc">تماس با ما</span>
          </li>
          </ul>
      </div>
    </li>
    <li style="padding: 5px;margin-top:70px;">
      <img src="assets/img/2.png" alt="">
    </li>
  </ul>
</div>

