<div class="row subParent">


  <div class="col-lg-11 nopadding Parent">
  <section class="container p-3">
<h1 style="color: #666666;">
  محصولات 
  <img src="assets/img/3.png" style="position: absolute;left: 64px" alt="">
</h1>
<br>
<br>

<div class="row">

<article class="card col-xs-12 col-lg-12" style="background: #ffffff36;">
  <div class="card-body">
    <div class=" top-product">
        <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
            <div class="item" *ngFor="let image of mySlideImages;let i = index">
             <div>
               <img src={{image}}/>
             </div>
            </div>
           </owl-carousel>
           <hr>
    </div>


    <div class="row products">

      <div *ngFor='let product of products' style="margin-top:10px;" [routerLink]="['/product', product.permalink]" class="card col-xs-12 col-lg-3 col-lg-3 col-lg-3 col-lg-3 col-lg-4">
        
        <img [src]="product.logo_url" alt="">

      <h3 style="padding-top:10px;color: #a9a9a9;">{{ product.title }}</h3>
      <h4 style="font-size: 12px;text-align: center;color: #fc6d36;">
        {{ product.slogan }}
      </h4>
      <p>
       {{ product.short_description | slice:0:152 }}
       <small>
          بیشتر بدانید
        </small>
      </p>

      </div>

    </div>
  </div>
</article>
</div>
  </section>
  </div>
  <div class="col-lg-1 nopadding">

  </div>
  </div>
