<div class="row subParent">


  <div class="col-lg-12 nopadding Parent">
  <section class="container p-3">


<div class="row">
  <h1 style="color: #666666;">
    سرویس ها و خدمات 
    <img src="assets/img/svg/SE h.svg" style="float:right;width:62px;" alt="">
  </h1>

<article class="card col-xs-12 col-lg-12" style="background: #ffffff36;z-index:2;">
  <div class="card-body">
    <div class=" top-product">
        <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
            <div class="item" *ngFor="let image of mySlideImages;let i = index">
             <div>
               <img src={{image}}/>
             </div>
            </div>
           </owl-carousel>
           <hr>
    </div>


    <div class="row products">

      <div *ngFor='let product of products' style="margin-top:10px;" [routerLink]="['/service', product.permalink]" class="card col-xs-12 col-lg-3 col-lg-3 col-lg-3 col-lg-3 col-lg-4">
        
        <img [src]="product.logo_url" alt="">

      <h3 style="padding-top:10px;color: #a9a9a9;">{{ product.title }}</h3>
      <h4 style="font-size: 12px;text-align: center;color: #fc6d36;">
        {{ product.slogan }}
      </h4>
      <p>
       {{ product.short_description | slice:0:152 }}
       <small>
          بیشتر بدانید
        </small>
      </p>

      </div>

    </div>
  </div>
</article>
</div>
  </section>
  </div>
  <div class="col-lg-1 nopadding">

  </div>
  </div>

