<section>
<!-- <img src="/assets/img/8.png" alt=""> -->
<owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding','home-slider']" >
    <div class="item" *ngFor="let image of mySlideImages;let i = index">
     <div>
       <img src={{image}}/>

     </div>
    </div>
   </owl-carousel>
</section>

<div class="description-box">
  <img src="assets/img/logo.png" style="    width:100%;    
  min-height: 180px !important;" class="at_logo" alt="">
  <p style="    text-align: justify;
  direction: rtl;">
شرکت آتیه ارتباط کیش در سال 1394 با هدف فعاليت در حوزه IT شروع به كار نمود و پس از چندي در راستاي دست يايي به اهداف كلان تر، به توسعه دايره كاري خويش در زمينه هاي مختلفي از جمله؛ سرمايه گذاري و هدايت پروژه ها پرداخت.
بررسي امكان سرمايه گذاري چندين طرح اقتصادي، انجام مقدمات تأسيــس صندوق سرمايه گذاري خطر پذير (vc) و همچنين شتابدهنده نيز از جمله فعاليت هاي اين مجموعه به شمار مي رود. 
  </p>
  <p class="more_content" style="display:none;    text-align: justify;
  direction: rtl;">
   شرکت آتیه ارتباط کیش سعی دارد در افق بلند مدت به اهدافی نظیر تسهیل فرایندهای توسعه محور در راستای ایفای نقشی اثرگذار در زیست بوم کسب و کار دیجیتال ایران، ایجاد زیرساخت های آموزشی و تسهیل فراگیری در دنیای دیجیتال و همچنین پیاده سازی بستر ایده پردازی و نوآوری در دنیای دیجیتال با ایجاد اکوسیستم نوآوری دست یابد.
   شرکت آتیه ارتباط کیش همواره آرمان هایی نظیر آموزش همگانی، توسعه پایدار چند بعدی و دسترسی همگانی به فناوری ها و نوآوری های روز را در دستور کارخود قرار داده و می کوشد تا ازپتانسیل های موجود در راه رسیدن به این آرمان ها استفاده نماید.
   شرکت آتیه ارتباط کیش در افق پنج ساله خود ایفای نقشی موثر و مطرح شدن در بین پیش قراولان حوزه نوآوری دانش بنیان در زیست بوم فناوری اطلاعات و ارتباطات را دستور کار خود قرار داده و می کوشد تا با حداقل منابع و آسیب به اکوسیستم پایدار کره زمین و محیط زیست، به اهداف خود دست یابد.
  </p>
  <button (click)='toggleSize()' id="read_btn" class="btn btn-default read-more-btn btn-round">
    بیشتر بخوانید
  </button>
</div>