section{
   height: 100%;
    width: 95%;
    // overflow: hidden;
   
} 
/deep/owl-carousel{
    height: 100vh;
}

.owl-theme .owl-controls .owl-page{
    position: fixed;
    top: 10px;
}
/deep/.home-slider {
    min-height: 500px;
    height: 100vh;
    .owl-stage-outer,img{
        min-height: 100%;
        height: 100vh;
    } 

}
/deep/.home-slider .owl-dots{
    position: absolute;
    bottom: 50px;
    left: 30px;
}
.description-box{

    min-height: 300px;
    z-index: 1;
    width: 600px;
    position: absolute;
    background-color: #00000070;
    margin-left: auto;
    margin-right: auto;
    left: 10px;
    right: 10px;
    top: 40px;
    padding: 10px;
    overflow: scroll;
    img{
        display:block;
        margin:auto;

    }
    p{
        padding:10px;
        text-align:center;
        color:white;

    }
    .read-more-btn{
        background-color: #f26f24;
        color:white;
        display:block;
        margin:auto;
    }
    .btn-round{
        border-radius: 30px;
    }
}

@media(max-width: 500px){
    /deep/.at_logo{
  
        display:block;
        margin:auto;
    }
    /deep/.description-box{
        text-align:center !important;
        z-index: 9999999999999;
    }
    /deep/.description-box{
        width:auto !important;
    }

    /deep/.home-slider {
        min-height: 100vh;
        height: 100vh;
        .owl-stage-outer{
            min-height: 100vh;
            height: 100vh;
        } 
    
    }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(155, 111, 111);
}