<div class="row" style="

width: 100%;
   height: 100%;
   background: url('https://www.takeda.com/siteassets/system/who-we-are/contact-us/contact1600x900.jpg') no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover; 
">


  <div class="col-lg-12 nopadding">
  <section class="container p-3">
<h3>
  تماس با ما
</h3>


<article class="card container contact-pannel" style="z-index:2;">
  <div class="card-body">
  <div class="row">
    <div class="col-xs-12 col-lg-6">

      <div class="form-group row">
          <div class="col-xs-6 col-lg-4 nopadding bgwhite"><label style="padding: 10px !important;padding-bottom: 0;" for="name">نام:<i class="fa fa-user icon-user"></i></label></div>
          <div class="col-xs-6 col-lg-8 nopadding bgwhite"><input type="text" id="name" class="form-control"></div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6 col-lg-4 nopadding bgwhite"><label style="padding: 10px !important;padding-bottom: 0;" for="family">نام خانوادگی:<i class="fa fa-user icon-user"></i></label></div>
        <div class="col-xs-6 col-lg-8 nopadding bgwhite"><input type="text" id="family" class="form-control"></div>
    </div>

    <div class="form-group row">
      <div class="col-xs-6 col-lg-4 nopadding bgwhite"><label style="padding: 10px !important;padding-bottom: 0;" for="phone">شماره تماس<i class="fa fa-phone icon-user"></i></label></div>
      <div class="col-xs-6 col-lg-8 nopadding bgwhite"><input type="text" id="phone" class="form-control"></div>
  </div>


  <div class="form-group row">
    <div class="col-xs-6 col-lg-4 nopadding bgwhite"><label style="padding: 10px !important;padding-bottom: 0;" for="email">ایمیل<i class="fa fa-at icon-user"></i></label></div>
    <div class="col-xs-6 col-lg-8 nopadding bgwhite"><input type="text" id="email" class="form-control"></div>
</div>
<div class="form-group row">
  <div class="col-xs-6 col-lg-4 nopadding bgwhite"><label style="padding: 10px !important;padding-bottom: 0;" for="title">عنوان پیام:<i class="fa fa-envelope icon-user"></i></label></div>
  <div class="col-xs-6 col-lg-8 nopadding bgwhite"><input type="text" id="title" class="form-control"></div>
</div>


<div class="form-group">
    <textarea class="form-control" style="width:100%;" name="" id="" cols="30" placeholder="پیام شما" rows="5"></textarea>
</div>

<div>
    <button class="btn btn-success" style="display:block;margin:auto;">
      ارسال پیام
    </button>
</div>

    </div>

       <div class="col-xs-12 col-lg-6">


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d340.49944416765874!2d51.39403897591213!3d35.71650554513436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e01268118c61f%3A0x9255c5425f450c84!2sTehran+Province%2C+Tehran%2C+Keyvan+Dead+End%2C+Iran!5e0!3m2!1sen!2s!4v1543226138726" frameborder="0" style="border:0;width:100%;height:500px;" allowfullscreen></iframe>
    </div>
  </div>
  
  </div>
  <p style="color: white;text-align:right;">
   تهران خیابان دکتر فاطمی روبه روی هتل لاله خیابان باباطاهر بن بست کیوان پلاک ۱۲
    </p>
    <a href="tel:02188394685" class="stickFix">
        <i class="fa fa-phone"></i>
        <span>021-88394685</span>
      </a>
</article>


  </section>
  </div>
  <div class="col-lg-1 nopadding">
    <app-public></app-public>
  </div>
  </div>



  <div style="  position: absolute;
  right: 12%;
  top: 61%;
  width:100%;
  border-bottom: 1px solid lightgray;
  height: 20px;
  z-index: 1;
  ">
    <i class="fa fa-arrow-left arrow-left" style="    background: #fc6d36;
    color: white;
    width: 40px;
    float: right;
    height: 40px;
    border-radius: 92px;
    padding: 12px;
    font-size: 18px;
  "></i>
  </div>
  